.custom-form {
  text-align: left;
  font-family: @font-family-montserrat;
  textarea {
    resize: none;
  }
  .form-control {
    padding: 15px;
    height: auto !important;
  }
  .btn {
    text-transform: uppercase;
    padding: 15px;
  }
  input,
  textarea {
    color: #fff;
    //background: transparent;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 0;
    border-bottom-width: 3px;
    text-align: left;
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
}

.blue-btn {
  background-color: #3DBDB6;
  color: @white;
  font-weight: 700;
}